Repository lancasterunicompsoc/CompSoc-Website, pull requests merged in 2023-10, with the labels that each got.

#33 Dev advert page
  .gitignore
  app.vue
  components/Advert/Bounce.vue
  components/Advert/Card.vue
  components/Advert/Event.vue
  components/Advert/index.vue
  components/Window/Body.vue
  components/Window/Iconified.vue
  components/Window/index.vue
  components/Window/titlebar/Normal.vue
  components/events/utils.ts
  layouts/advert.vue
  package-lock.json
  package.json
  pages/advert/xp.vue
  public/fonts/Tahoma.ttf
  public/img/logo/bounce.webp
  public/img/windows/bliss.webp
  public/img/windows/calendar.png
  public/img/windows/compsoc.png
  public/img/windows/difficulty_EASY.png
  public/img/windows/difficulty_HARD.png
  public/img/windows/difficulty_SOCIAL.png
  public/img/windows/leader.png
  public/img/windows/location.png
  public/img/windows/start.png
  server/api/events/all.get.ts
  uno.config.ts
  utils/advert.ts
  utils/array.ts
  utils/time.ts
  yarn.lock
Labels: enhancement

#34 added system info & MOTD
  app.vue
  components/Advert/Bounce.vue
  components/Advert/Card.vue
  components/Advert/Event.vue
  components/Advert/index.vue
  components/Card.vue
  components/DarkToggle.vue
  components/Login.vue
  components/Logo.vue
  components/SVG/Discord.vue
  components/SVG/Facebook.vue
  components/SVG/Github.vue
  components/SVG/Instagram.vue
  components/SVG/Twitter.vue
  components/Switch.vue
  components/Terminal/TerminalHistoryItem.vue
  components/Terminal/commands/info.ts
  components/Terminal/commands/registry.ts
  components/Terminal/commands/session.ts
  components/Terminal/index.vue
  components/Terminal/systemInfo.ts
  components/Window/Body.vue
  components/Window/Iconified.vue
  components/Window/index.vue
  components/Window/titlebar/Normal.vue
  components/events/Add.vue
  components/events/All.vue
  components/events/Event.vue
  components/events/IconDelete.vue
  components/events/IconEdit.vue
  components/events/IconLocation.vue
  components/events/IconSpeaker.vue
  components/events/IconTime.vue
  components/events/utils.ts
  layouts/advert.vue
  nuxt.config.ts
  pages/about.vue
  pages/advert/xp.vue
  pages/constitution.vue
  pages/discord.vue
  pages/events/index.vue
  pages/github/[repo].vue
  pages/github/index.vue
  pages/index.vue
  pages/join.vue
  pages/protected.vue
  pages/start.vue
  pages/users.vue
  server/api/events/add.post.ts
  server/api/events/all.get.ts
  server/api/users/ban.post.ts
  uno.config.ts
  utils/advert.ts
  utils/array.ts
  utils/time.ts
Labels: enhancement, terminal

#40 added slides link
  pages/slides.vue
Labels: enhancement

#41 Fix event showing as empty if id does not exist
  components/events/utils.ts
Labels: bug

#39 fixed small terminal features
  components/Terminal/commands/filesystem.ts
  components/Terminal/commands/registry.ts
  components/Terminal/commands/session.ts
  components/Terminal/index.vue
Labels: enhancement

#44 added desktop icons
  components/Advert/Event.vue
  pages/advert/xp.vue
  public/img/windows/my-computer.png
  public/img/windows/recycle-bin.png
  uno.config.ts
Labels: enhancement, xp

#52 Add events terminal
  components/Terminal/commands/filesystem.ts
  components/Terminal/commands/registry.ts
  components/Terminal/commands/utils.ts
  components/Terminal/index.vue
  package.json
  stores/event.ts
  yarn.lock
Labels: enhancement, terminal

#53 stdio.ts
  components/Terminal/TerminalHistoryItem.vue
  components/Terminal/TerminalMarker.vue
  components/Terminal/commands/filesystem.ts
  components/Terminal/commands/info.ts
  components/Terminal/commands/registry.ts
  components/Terminal/commands/session.ts
  components/Terminal/commands/utils.ts
  components/Terminal/index.vue
  components/Terminal/stdio.ts
Labels: enhancement, terminal

#54 fixed bug: cd into file
  components/Terminal/commands/filesystem.ts
Labels: bug, terminal

#60 fixed uniquness of schema
  prisma/schema.prisma
Labels: bug

#64 ls -a
  components/Terminal/commands/filesystem.ts
  components/Terminal/index.vue
Labels: enhancement, terminal

#66 motd now pulls from `/etc/motd`
  components/Terminal/commands/filesystem.ts
  components/Terminal/index.vue
  components/Terminal/systemInfo.ts
Labels: enhancement, terminal

#65 ls -la
  components/Terminal/commands/filesystem.ts
Labels: bug, enhancement, terminal

#67 Terminal colours
  components/Terminal/index.vue
  components/Terminal/stdio.ts
  uno.config.ts
Labels: enhancement, terminal

#68 fixed whitespace in terminal
  components/Terminal/index.vue
Labels: bug, terminal

#69 moved redirect pages to routeRules
  nuxt.config.ts
  pages/discord.vue
  pages/github/index.vue
  pages/join.vue
  pages/slides.vue
  pages/start.vue
Labels: enhancement

#75 emergency!!!
  pages/admin/reviews/[id].vue
Labels: bug

#78 fixed prompt on clear
  components/Terminal/index.vue
Labels: bug, terminal
